/* HEADER */

#booknow a {
    color: white !important;
    text-decoration: none;
    font-weight: 500;
}

#header {
    object-fit: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

#with {
    font-size: 3.2em;
}

b {
    font-weight: 500 !important;
}

.lead {
    font-size: 1.7em !important;
    /* font-weight: 500 !important; */
}






/* FOOTER */
img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #000000;
    color: #000000;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #0ba718;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}

section p{
    color: #000000;
}

section, footer {
    color: #ffffff;
}

footer {
    background: #25C36B;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 100px;
}